[submodule "glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/spirvcross"]
	path = external/spirvcross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "external/vma"]
	path = external/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
